
.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.selectInput,
.numberInput {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.filterButton {
  border: 1px solid #FFD700; 
  background-color: transparent;
  color: #FFD700; 
  padding: 0.5rem;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #FFD700;
  color: #2E3035; 
}
