
.tableContainer {
  max-width: 1212px;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: baseline;
  overflow-x: auto;
  margin-bottom: 3rem;
  border: 1px solid #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  width: 9.76113rem;
  height: 4.375rem;
  padding: 1rem;
  border-radius: 0.0625rem 0rem 0rem 0rem;
  border: 1px solid black;
  background: #2E3035;
  color: white;
}

.tableBody {
  overflow-y: auto;
  max-height: 24rem;
  color: white;

}

.tableCell {
  width: 9.76113rem;
  height: 7.375rem;
  text-align: center;
  color: white; 
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  padding: 1rem;
  border-bottom: 1px solid white; 
}


.expandedCell {
  width: 22.25rem;
}

.emptyRow {
  margin-top: 1rem;
  height: 4rem;
  width: 75.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

body {
  background: url(../../assets/starwars.svg) no-repeat center center fixed;
  background-size: cover;
  background-color:#0D5140;
}


.searchInputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 300px;
}

.searchInput {
  width: 671px;
  height: 42px;
  padding: 0.5rem;
  border: 1px solid white; 
  background-color: transparent;
  color: white;
  margin-right: 0.5rem;
  
}

.searchIcon {
  position: absolute;
  top: 87%;
  right: 2rem;
  transform: translateY(-50%);
  color: white; 
  cursor: pointer;
}


.searchIcon::before {
  content: '\1F50D'; 
  font-size: 1rem;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1123px;
  align-items: center;
  margin: 2rem;
}

.filterContainer {
  display: flex;
  margin-bottom: 1rem;
 position: relative;
 left: 200px;
}

.tableContainer::-webkit-scrollbar {
  height: 12px;
  background-color: transparent;
}

.tableContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 7px;
}


.tableContainer::-webkit-scrollbar-track {
  height: 12px;
  background-color: transparent;
}

.tableContainer::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
}


.tableContainer::-webkit-scrollbar-button {
  display: none;
}